.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

img {
  margin: 15px;
}

.arrow {
  border-style: none;
  background: none;
}

.buttonStyle {
  border-style: none;
  background: none;
}

.selected {
  display: block;
  border-style: none;
  background: none;
}

.disable {
  display: none;
}

#show {
  display: block;
  border-style: none;
  background: none;
}

#hide {
  display: none;
}

@media screen and (max-width: 660px) {
  .images {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}