.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

img {
  margin: 15px;
}

.arrow {
  border-style: none;
  background: none;
}

@media screen and (max-width: 660px) {
  .images {
    display: flex;
    flex-direction: column;
  }
}