.navbar {
  display: flex;
  flex-direction: row;
  box-shadow: 0 8px 15px rgba(255, 0, 0, 0.3);
}

.divLogo {
  width: 60%;
}

.logo {
  width: 10%;
}

.links {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navbarMobile {
  display: none;
}

@media screen and (max-width: 660px) {
  .links {
    display: none;
  }

  .navbarMobile {
    display: block;
  }


  .logo {
    width: 50%;
  }
}